{% extends "base.html" %}

{% block content %}
    {% if error %}<div class="alert alert-danger">Invalid credentials. Try again.</div>{% endif %}
    <form class="form" method="post" action="">
        <div class="form-group{% if error %} has-error{% endif %}">
            <label class="control-label hidden-xs">PID</label>
            <input class="form-control" type="text" name="pid" placeholder="PID">
        </div>
        <button class="btn btn-primary center-block" type="submit">Login</button>
    </form>
{% endblock %}
